/*custom styles*/
body {
  background-image: url(../images/background.jpg);  
  margin: 10px;
}
.container{
  background-color: rgba(236, 229, 197, 0.87);
  border-radius: 10%;
  padding: 50px;
}
.jumbotron {
  margin-top: 20px;
  background-image: url(../images/robot.jpg);
  height: 350px;
  border: solid black;
}
.jumbotron h1 {
  margin-top: 5px;
  font-family: 'Share Tech Mono', monospace;
}
.jumbotron .title{
  margin-top: 30px;
}
.output1 {
  display: none;
  margin-top: 20px;
  font-family: 'Share Tech Mono', monospace;
  font-size: larger;
}

.output2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: larger;
}

.output {
  display: none;
  margin-top: 10px;
  margin-bottom: 30px;
  border: solid black;
}

img {
  display: none;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}

